./result.txt
*.py[cod]

*/__pycache__
*/*/_pycache__
*/*/*/_pycache__
**/**/*.pyc
tensorboards/
pretrain_weights/
snapshots/
det_info/
det_result/
dataset/
logs/

./utils/nms/build/
./utils/bbox/build/

./utils/nms/*.so
./utils/bbox/*.so

